body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-container h1 {
    text-align: center;
    color: #38d39f;
}

.profile-container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
    border-radius: 50%;
}

.profile-container p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.profile-container strong {
    color: #555;
    justify-content:space-evenly;
}
